
.row{
    background-color: seashell;
    padding: 20px;
}

header > h1 {
    color: white;
    background: black;
    text-align: center;
    padding: 20px;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
    padding-bottom: 30px;
}

#btn-bank{
    background-color: orange;
}
#btn-work{
    background-color: purple;
}
#btn-buy{
    background-color: green ;
}
#btn-loan{
    background-color: red ;
}




